.form{
  position: relative;
}
.textArea{
    background-color: rgb(19, 19, 19);
    color: white;
    font-size:1.2rem;
    width:100%;
    border-radius:0.2rem;
    margin-bottom: 1rem;
    color: #84ba64;
    border-color: #84ba64;
    padding: 0.4rem;
    height: 6rem;
  }

.button{
  position: absolute;
  /* top: 6.7rem; */
  bottom: -1.4rem;
  right: 0rem;
  height: 2rem;
  width: 5rem;
  color: aliceblue;
  background-color: rgb(65, 62, 60);
  border-radius: 0.2rem;
}