.form{
  position: relative;
  width: 75%;
  margin: auto;
}
.textArea{
    background-color: rgb(70, 70, 70);
    color: rgb(0, 0, 0);
    width:100%;
    border-radius:0.2rem;
    margin-bottom: 2rem;
    color: #ffffff;
    padding: 0.4rem;
    height: 6rem;
    outline: none;
    font: 400 18px/1.1 "Source Sans Pro", "Open Sans", Roboto, "San Francisco", Helvetica, Arial, sans-serif;
    
  }
  .textArea::placeholder {
    color: rgb(235, 235, 235);
    opacity: 1; /* Firefox */
  }

.button{
  position: absolute;
  right: 0;
  top: 9rem;
  height: 2rem;
  width: 5rem;
  color: aliceblue;
  background-color: rgb(65, 62, 60);
  border-radius: 0.2rem;
}
.comentarBox{
  position: relative; 
  display: flex;
justify-content: space-between;
margin-top: 0.6rem;
background-color: #000000;
color: rgb(255, 255, 255);
font-size: 1rem;
padding: 0.7rem;
box-shadow: #3a3a3a 1px 1px 1px 0px;
border: solid rgb(56, 56, 56) 1px;
font: 400 16px/1 "Source Sans Pro", "Open Sans", Roboto, "San Francisco", Helvetica, Arial, sans-serif;
}
.x{
  position: absolute;
  right: 0.2rem;
  bottom: 0rem;
color: rgb(161, 161, 161);
cursor: pointer;
height: 1.5rem;
width: 1.5rem;
/* border: #444444 solid 1px; */
border-radius: 40%;
text-align: center;
padding: 0.1rem;
}

.date{
  color: #84ba64;
font-weight: 900;}

@media (max-width: 600px) {
  .form{
    position: relative;
    width: 95%;
    margin: auto;
  }
  .date{
    position: relative;
    text-align: end;
    margin: 1rem;
    color: #84ba64;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: 0.8rem;
  }

  .textArea{
    position: relative;
    background-color: rgb(70, 70, 70);
    color: rgb(0, 0, 0);
    width:100%;
    border-radius:0.2rem;
    margin-bottom: 2rem;
    color: #ffffff;
    padding: 0.4rem;
    height: 6rem;
    outline: none;
    font: 400 18px/1.1 "Source Sans Pro", "Open Sans", Roboto, "San Francisco", Helvetica, Arial, sans-serif;
    
    }
  .button{
    position: absolute;
    right: 0;
    top: 8.1rem;
    height: 2rem;
    width: 5rem;
    color: aliceblue;
    background-color: rgb(65, 62, 60);
    border-radius: 0.2rem;
  }
  .comentarBox{
    position: relative; 
    display: flex;
  justify-content: space-between;
  margin-top: 0.6rem;
  background-color: #000000;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  padding: 0.7rem;
  box-shadow: #3a3a3a 1px 1px 1px 0px;
  border: solid rgb(56, 56, 56) 1px;
  font: 400 16px/1 "Source Sans Pro", "Open Sans", Roboto, "San Francisco", Helvetica, Arial, sans-serif;
  
}
  .x{
    position: absolute;
    right: 0.2rem;
    bottom: 0rem;
  color: rgb(161, 161, 161);
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  /* border: #444444 solid 1px; */
  border-radius: 40%;
  text-align: center;
  padding: 0.1rem;
  /* box-shadow: #535353 0.5px 1px 30px 2.2px; */
}
  

}