
.cabezera{
    justify-content: space-between;
    display: flex;
    align-items: center;
    position: relative;
    margin: auto;
    width:40rem;
    height: 3rem;
    border-bottom: 1px solid rgba(173, 172, 172, 0.282);
}

.name{
    color: rgb(39, 7, 220);
    letter-spacing: 0.05rem;
    margin: 1.3em;
    margin-left: 2rem;
    font-size: 1.1rem;
    font-weight: 800;
    font-family: 'Josefin Sans', sans-serif;
}

.name:hover, .name2:hover, .name3:hover{
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.Date{
    position: relative;
    margin-right: 1rem;
    text-align: end;
    color: #2c9980;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: 1rem;
}

@media (max-width:600px){ 

.cabezera{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: auto;
    height: 3rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    /* border:solid red 1px; */
}

.name{
    /* border:solid red 1px; */
    letter-spacing: 0.05rem;
    margin: 1.7em;
    margin-left: 0.5rem;
    font-size: 1rem;
    font-weight: 800;
    font-family: 'Josefin Sans', sans-serif;
}
  }
  
  
  
