
.cabezera{
    display: flex;
    align-items: center;
    position: relative;
    margin: auto;
    height: 3rem;
    background-color: rgb(0, 0, 0);
}

.cabezera2{
    display: flex;
    margin: auto;
    height: 3rem;
    position: relative;
    border-bottom:1px rgb(32, 32, 32) solid ;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 35%, rgba(41,41,41,1) 100%, rgba(107,107,107,1) 100%);
}

.boxData{
    justify-content: space-between;
    display: flex;
    width: 100%;
}
.boxData2{
    display: flex;
    width: 100%;
    align-items: center;
}
.boxData3{
    opacity: 80%;
    background-color: rgb(27, 27, 27);
    height: 5rem;
    width: 100%;
}
.name3{
    color: rgb(0, 141, 54);
    letter-spacing: 0.6rem;
    margin: 2rem;
    
    font-size: 5.1rem;
    font-weight: 800;
    font-family: 'Josefin Sans', sans-serif;
}
.name{
    color: rgb(196, 196, 196);
    letter-spacing: 0.05rem;
    margin: 1.3em;
    margin-left: 2rem;
    font-size: 1.1rem;
    font-weight: 800;
    font-family: 'Josefin Sans', sans-serif;
}

.name2{
    color: rgb(179, 179, 179);
    letter-spacing: 0.3rem;
    margin: 1rem;
    margin-left: 2rem;
    font-size: 1.5rem;
    font-weight: 800;
    font-family: 'Josefin Sans', sans-serif;
}
.name:hover, .name2:hover, .name3:hover{
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.Date{
    position: relative;
    margin: 0rem;
    padding: 0.7rem;
    text-align: end;
    color: #68f118;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    font-size: 0.8rem;
}

@media (max-width:600px){ 

.cabezera{
    display: flex;
    align-items: center;
    position: relative;
    margin: auto;
    height: 2rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}


.boxData{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.name{
    color: rgb(196, 196, 196);
    letter-spacing: 0.05rem;
    margin: 1.3em;
    margin-left: 0.5rem;
    font-size: 1rem;
    font-weight: 800;
    font-family: 'Josefin Sans', sans-serif;
}
.cabezera2{
    display: none; 
}
  }
  
  
  
