.footer{
    height: 7rem;
    width: 100%;
    background-color: #191b24; 
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.a{
    margin-left: 1rem;
    margin-right: 1rem;
}
.socialMedia{
    border-radius: 0.5rem;
    padding: 0.8rem 0.5rem 0.5rem;
    margin-right: 1rem;
    background-color: #181d2e; 
        box-shadow: #12172c 0px 0px 8px 0.6px;
}

@media (max-width: 600px) {
    .footer{
        height: 8rem;
        width: 100%;
        background-color: #13192e; 
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .a{ 
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    .socialMedia{
        border-radius: 0.2rem;
        padding: 0.8rem 0.5rem 0.5rem;
        background-color: #1a2341; 
    }
}