html,
body {
  padding: 0;
  margin: 0;
  /* background-color: hsl(60, 100%, 97%); */

  background-color: rgb(241, 239, 237);
  
}
* {
  box-sizing: border-box;
}


@media (max-width: 600px) {

 
  
}

