html,
body {
  padding: 0;
  margin: 0;
  background-color: #1b1b1b;
}
* {
  box-sizing: border-box;
}
.entrada{
  padding: 1rem;
  text-align: center;
}
article{
  margin-top: 1rem;
  margin: auto;
  background-color: rgb(102, 102, 102);
  border: #50743b solid 1px;
  width: 75%;
  padding: 1rem;
  margin-bottom: 1rem;
}
.personajes{
  color: yellow;
  font-size: 1.22rem;
}
h1{color: rgb(238, 238, 238);
  font: 400 22px/1.2 "Source Sans Pro", "Open Sans", Roboto, "San Francisco", Helvetica, Arial, sans-serif;}
h2 {color: rgb(209, 209, 209);
  font: 400 20px/1.2 "Source Sans Pro", "Open Sans", Roboto, "San Francisco", Helvetica, Arial, sans-serif;}
h3 {color: rgb(209, 209, 209);
  font: 400 18px/1.2 "Source Sans Pro", "Open Sans", Roboto, "San Francisco", Helvetica, Arial, sans-serif;}
p{font: 400 16px/1.4 "Source Sans Pro", "Open Sans", Roboto, "San Francisco", Helvetica, Arial, sans-serif;
}
a {
  color: #84ba64;
  text-decoration: none;
  font: 400 16px/1.5 "Source Sans Pro", "Open Sans", Roboto, "San Francisco", Helvetica, Arial, sans-serif;
}
.a{
  
  color: #84ba64;
  text-decoration: none;
  font: 400 20px/1.5 "Source Sans Pro", "Open Sans", Roboto, "San Francisco", Helvetica, Arial, sans-serif;
}

.footerArticle{
  display: flex;
  justify-content: center;
}


@media (max-width: 600px) {
  article{
    margin-top: 1rem;
    margin: auto;
    background-color: rgb(102, 102, 102);
    border: #000000 solid 1px;
    width: 95%;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  }