
  .boxIcons{
    background-color: black;
    display: grid;
    /* height: 240px; */
    overflow: hidden;
    gap: 0.5rem; 
    grid-auto-rows: 8rem;
    grid-auto-columns: repeat(auto-fill, minmax(0.2rem, 4fr));
    grid-template-columns: repeat(12,1fr);
    padding-top: 13.7rem;
    padding-bottom: 22px;
    
  }
  .icon{
    display: inline-block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 130px;
    width: 130px;
   grid-column: span 2;
   filter: blur(0.4px);
   /* filter: drop-shadow(4px 4px 6px rgb(109, 109, 109));  */
   margin: auto;
   transition:0.3s 
  }
  .icon:hover{
    cursor: pointer;
    transform: scale(105%) rotateZ(1.5deg);
     filter: blur(0.0px); 
     /* filter: drop-shadow(2px 2px 6px rgb(109, 109, 109));  */
  }
  
  
  
  @media (max-width:600px){ 
    
    .boxIcons{
      background-color: black;
      display: grid;
      /* height: 240px; */
      overflow: hidden;
      gap: 0.4rem; 
      grid-auto-rows: 5rem;
      grid-auto-columns: repeat(auto-fill, minmax(0.2rem, 5fr));
      padding-top: 8rem;
      padding-bottom: 12px;
    }
    .icon{
      display: inline-block;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      height: 80px;
      width: 80px;
     grid-column: span 3;
     filter: blur(0.4px);
     margin: auto;
     transition:0.3s 
    }
    .icon:hover{
      cursor: pointer;
      transform: scale(105%) rotateZ(1.5deg);
       filter: blur(0.0px); 
    }
    
  
  }
  
  
  
