
  .boxIcons{
    background-color: rgb(26, 22, 22);
    display: grid;
    /* height: 240px; */
    overflow: hidden;
    gap: 0.5rem; 
    grid-auto-rows: 8rem;
    grid-auto-columns: repeat(auto-fill, minmax(0.2rem, 4fr));
    grid-template-columns: repeat(12,1fr);
    padding-top: 1.4rem;
    padding-bottom: 22px;
    
  }
  .icon{
    display: inline-block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 130px;
    width: 130px;
   grid-column: span 2;
   filter: blur(0.4px);
   margin: auto;
   transition:0.3s 
  }
  .icon:hover{
    cursor: pointer;
    transform: scale(105%) rotateZ(1.5deg);
    filter: blur(0.0px); 
  }
  
  @media (max-width:600px){ 
    .boxIcons{
      background-color: rgba(7, 35, 126, 0.428);
      display: grid;
      /* height: 240px; */
      overflow: hidden;
      gap: 0.4rem; 
      grid-auto-rows: 5rem;
      grid-auto-columns: repeat(auto-fill, minmax(0.2rem, 5fr));
      padding-top: 0.3rem;
      padding-bottom: 12px;
    }
    .icon{
      display: inline-block;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      height: 80px;
      width: 80px;
     grid-column: span 3;
     filter: blur(0.4px);
     margin: auto;
     transition:0.3s 
    }
    .icon:hover{
      cursor: pointer;
      transform: scale(105%) rotateZ(1.5deg);
       filter: blur(0.0px); 
    }
  }
  
  
  
