.nav{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    min-height: 4rem;
    background-color: #2e2e2e; 
    border-bottom: 1px solid rgb(31, 160, 5);  
    font-family: monospace;
    opacity: 100%;
    transform: translateY(0%);
    /* animation: nav 0.8s 1 ease-in-out; */
    z-index: 2;
  }
  .burger{
    position: absolute;
    transform: rotateZ(0deg);
    right: 2rem;
    top: 1.3rem;
    transition: 0.05s;
    cursor: pointer;
  }
  .asideBar{
    overflow: hidden;
    overflow-y: scroll;
    position: absolute;
    transform: translateY(-100%);
    right: 0;
    top: 4rem;
    height: 15rem;
    width: 10rem;
    transition: 0.4s;
    z-index: 1;
  }
  .asideBar::-webkit-scrollbar {
    width: 0.4rem;
  }
  .asideBar::-webkit-scrollbar-track {
    background: #13192E;
  }
  .asideBar::-webkit-scrollbar-thumb {
    background: rgb(66, 110, 57);
  }
  .ul{
    list-style-type: none;
    padding-inline-start: 0.5rem;
    padding-inline-end: 0.5rem;

  }
  .li{
    font-family: monospace;
    color: rgb(201, 201, 201);
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    padding: 0.3rem;
    border: dashed 2px rgb(92, 128, 45);
  }

  .logo{
    color: rgb(204, 204, 204);
    margin-left: 1rem;
    margin-right: auto;
    font-weight: 600;
  }

  .img{
    margin: 1rem;
    cursor: pointer;
  }

  @media (max-width: 600px) {
  .nav{
    display: flex;
    align-items: center;
    background-color: #2e2e2e; 
    border-bottom: 1px solid rgb(31, 160, 5);  
    color: black;
    z-index: 2;
    
  }
  .burger{
    position: absolute;
    transform: rotateZ(0deg);
    right: 2rem;
    top: 1.4rem;
    transition: 0.05s;
  }

  .asideBar{
    /* filter: blur(1px); */
    background-color: #2e2e2e;
    overflow: hidden;
    overflow-y: scroll;
    position: absolute;
    transform: translateY(-100%);
    border-bottom: 1px solid rgb(31, 160, 5);   
    border-right: 1px solid rgb(31, 160, 5);   
    border-left: 1px solid rgb(31, 160, 5);   
    right: 0;
    top: 4rem;
    height: 15rem;
    width: 10rem;
    border-radius: 0rem 0rem 0.2rem 0.2rem;
    transition: 0.4s;
    z-index: 1;
  }
  .asideBar::-webkit-scrollbar {
    width: 0.2rem;
  }
  .asideBar::-webkit-scrollbar-track {
    background: #13192E;
  }
  .asideBar::-webkit-scrollbar-thumb {
    background: rgb(66, 110, 57);
  }

  .ul{
    list-style-type: none;
    padding-inline-start: 0.5rem;
    padding-inline-end: 0.5rem;
  }
  .li{
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    padding: 0.3rem;
    border: solid 2px rgb(92, 128, 45);
  }
   
    .logo{
      color: rgb(182, 182, 182);
      margin-left: 0.5rem;
      margin-right: auto;
      /* font-size: 1.2rem; */
      font-weight: 600;
      cursor: pointer;
      font: 400 25px/1 "Source Sans Pro", "Open Sans", Roboto, "San Francisco", Helvetica, Arial, sans-serif;
   /*font-family: 'Shadows Into Light', cursive; */
    }
    
  }