#nav.hidden {
  display: none;
}
@media (max-width: 768px) {
  /* #nav {
    display: none;
  } */
  #hamburger {
    display: block;
  }
}

.nav{
  position: fixed;
   bottom: 1rem; 
   /* top: 2rem; */
  right: 1rem; 
  width: 5rem;
  display: flex;
  align-items: center;
  color: black;
  z-index: 2;
}
.header{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0rem;
  height: 7rem;
  width: 100%; 
   backdrop-filter: blur(7px); 
}
.boxSap{
  background-color: transparent;
}
.sap{
  color: rgba(66, 102, 50, 0.579);
  font-size: 3rem;
  font-weight: 900;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.asideBar{
  display: none;
   /* filter: blur(1px); */
   position: fixed;
   backdrop-filter: blur(7px);
   height: 100%;
   overflow: hidden;
   overflow-y: scroll;
   /* transform: translateY(-100%);  */
   width: 100%;
   transition: 0.4s;
   z-index: 1;
   text-align: center;
   padding-top: 8.1rem;
}
.ul{
  margin-top: 0px;
  padding: 0;
  list-style-type: none;
}
.a{
  font: 400 20px/1.5 "Source Sans Pro", "Open Sans", Roboto, "San Francisco", Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: 900;
}
.li{ 
  width: 65%;
  margin: auto;
    position: relative;
    align-items: center;
    align-content: center;
    background-color: #5c579dd5;
    margin-top: 0.2rem;
    margin-bottom: 2rem;
    padding-top: 0.9rem;
    height: 4rem;
    text-align: center;
    color: rgb(255, 255, 255);
    transition: 0.2s;
  }
.li:hover{
  cursor: pointer;
  background-color: #524bb4fd;
}

  .burger{
    position: absolute;
    transform: rotateZ(0deg);
    border-radius: 5px;
    bottom: 5rem;
    top: 0rem;
    transition: 0.05s;
    cursor: pointer;
  }

  .asideBar::-webkit-scrollbar {
    width: 0.4rem;
  }
  .asideBar::-webkit-scrollbar-track {
    background: transparent;
  }
  .asideBar::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
  }
  .img{
    margin: 1.2rem;
    cursor: pointer;
  }

  
  @media (max-width: 600px) {
  .nav{
    position: fixed;
    /* top: 2rem;  */
    bottom: 1rem;
    /* right: 1rem; */
    width: 10rem;
    display: flex;
    align-items: center;
    color: black;
    z-index: 2;
  }
  .burger{
    position: absolute;
    transform: rotateZ(0deg);
    right: 2rem;
    top: -1rem;
    transition: 0.05s;
  }
  .asideBar{
    /* filter: blur(1px); */
    position: fixed;
    /* background-color: rgb(255, 255, 255);
    opacity: 50%; */
    backdrop-filter: blur(10px);
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    /* transform: translateY(-100%);  */
    width: 100%;
    padding-top: 8.1rem;
    transition: 0.4s;
    animation: blur 5s infinite alternate ;
  }

  .a{
    
    font-size: 1.3rem;
  }
  .asideBar::-webkit-scrollbar {
    width: 0rem;
  }
  .asideBar::-webkit-scrollbar-track {
    background: transparent;
  }
  .asideBar::-webkit-scrollbar-thumb {
    background: transparent;
  }
  .li{
    width: 90%;
    margin: auto;
    position: relative;
    align-items: center;
    align-content: center;
    margin-top: 0.2rem;
    margin-bottom: 2rem;
    padding-top: 1.23rem;
    height: 4.5rem;
    text-align: center;
  }
  }